.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error-message {
  color: red;
}

input.ng-pending {
  border: 1px solid orange;
}

.pending {
  color: orange;
}

input.ng-valid {
  border: 1px solid green;
}
