<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              name="username"
              formControlName="username"
            >
            <div class="error-message"
                 *ngIf="userData.get('username')?.invalid && userData.get('username')?.touched">
                <span *ngIf="userForm.hasError('required', 'userData.username')">
                  The field is required
                </span>
              <span *ngIf="userForm.hasError('nameIsForbidden', 'userData.username')">
                  Invalid username
                </span>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              formControlName="email"
            >
            <div class="error-message"
                 *ngIf="userData.get('email')?.invalid && userData.get('email')?.touched">
              <span *ngIf="userForm.hasError('required', 'userData.email')">The field is required</span>
              <span *ngIf="userForm.hasError('email', 'userData.email')">invalid email</span>
            </div>
          </div>
        </div>

        <div class="m-3">
          <div *ngFor="let gender of genders">
            <label>
              <input type="radio" name="gender" [value]="gender" formControlName="gender">
              {{gender}}
            </label>
            <div class="error-message"
                 *ngIf="userForm.get('gender')?.invalid && userForm.get('gender')?.touched">
              Enter gender
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Age</label>
          <input type="text" class="form-control" formControlName="age">
          <div class="error-message" *ngIf="formControls['age']?.invalid && formControls['age']?.touched">
            The field is required
          </div>
        </div>

        <div class="m-3" formArrayName="hobbies">
          <h3>Hobbies</h3>
          <button class="btn btn-success" type="button" (click)="onAddFormControl()">Add Hobby</button>
          <div class="mb-2"
               *ngFor="let fc of hobbiesFormArray.controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
